<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <title>Book Store</title>
    </head>

    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4" th:each="book : ${books}">
            <div class="card">
                <img th:src="${book.volumeInfo.imageLinks.thumbnail}" class="card-img-top" alt="Book image">
                <div class="card-body">
                    <p class="card-text" th:text="${book.volumeInfo.title}">Book Title</p>
                    <p>Ksh. 1800</p> <!-- You can replace this with the actual price if available -->
                </div>
            </div>
        </div>
    </div>


</html>