

.bg-cover {
    background-size: cover;
    background-image: url('assets/coding_background.webp');
    background-position: center;
    height: 50vh; /* Full height */
    color: white;
}


.content {
    padding: 10px 10px;
    line-height: 2;
    font-size: 0.9rem;
}

.footer-section {
    background-image: url('assets/89.jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh; 
}

.card {
    width: 75%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    /* padding: 2rem; */
}

.icons {
    font-size: 2rem;
}
body {
    margin: 0;
    display: flex;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh; /* Full height of the viewport */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px;
    overflow-y: auto; /* Enable vertical scrolling */
}
.sidebar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: small;
}
.sidebar a:hover {
    background-color: #dfecf9;
    color: black;
}
/* .content {
    margin-left: 250px;  /*Offset content by the width of the sidebar*/
    padding: 15px;
    flex: 1;
} */