

.carousel-section, img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-color: gray;
    opacity: 75%;
}

.card-img-top {
    height: 300px;
    object-fit: contain;
    padding: 3px;
}

.logo-image {
    height: 60px;
    width: 60px;
    margin-right: 1rem;
    padding-left: .5rem;
}

.icon-image {
    font-size: 1.8rem;
}

.card {
    border-style: none;
}

.footer {
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.footer-bottom {
    background-color: black;
    height: 10px;
}

.footer, a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer-text {
    color: black;
    background-color: white;
    font-size: .7rem;
}

.footer-logo {
    color: white;
    font-size: 1.2rem;
}

.top-footer, .footer-logo {
    font-size: 1.6rem;
}

.logo-footer {
    background-color: yellow;
}


.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
  }

.dropdown-item:hover {
    color: cyan;
    background-color: white;
}

.p-about {
    line-height: 2rem;
    font-size: 1.1rem;
    /* text-indent: 20px; */
}


.row .about-img {
    width: 100%;
    height: auto;
    object-fit: cover;
} 

.scrollable-list {
    max-height: 300px; 
    overflow-y: auto;
}

.scrollable-list, li{
    line-height: 2rem;
}

.contact-details, .desc{
    font-size: 1.3rem;
}

.map {
    width: 100%;
    height: 100vh;
    position: relative;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }