@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.button-class {
    background-color: #ED5684;
    color: white;
}


.line {
    flex: 1;
    border-width: 2px solid black;
}

.icons {
    font-size: 1.6rem;
}